:root {
  --mainColor: #74546a;
  --secondaryColor: #ffe7f4;

  --headerText: #0b032d;
  --secondaryText: #f67e7d;

  --borderColor: #ffb997;

  --shadowColor: #9b7e92;
}

body {
  background: var(--mainColor);
  font-family: "Spartan", sans-serif;
  padding-top: 65px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Montserrat", sans-serif;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
}

a {
  text-decoration: none;
  color: var(--secondaryText);
}

a:hover {
  color: var(--headerText);
}

body::-webkit-scrollbar {
  width: 2em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondaryText);
  outline: 1px solid var(--secondaryText);
}

#logo-image {
  display: block;
  margin: 0 auto;
  height: 80px;
  width: 80px;
  object-fit: cover;
}

#logo {
  justify-content: center;
}

#mainNavbar {
  background-color: var(--mainColor);
  font-size: 1.5rem;
  font-weight: 100;
  flex-direction: space around;
}

#mainNavbar .nav-link {
  color: var(--secondaryColor);
}

#mainNavbar .nav-link:hover {
  color: var(--headerText);
}

#mainNavbar .navbar-toggler {
}

#navLinks {
  justify-content: center;
}

#projects-section {
  background-color: var(--secondaryColor);
}

#profile-image {
  border: 5px solid #74546a;

  border-radius: 10px;
  background: #74546a;
  box-shadow: -12px -12px 24px #5f4557, 12px 12px 24px #89637d;
}

#projects-section {
  border: 6px outset var(--shadowColor);
  padding: 40px;
}

.project {
  padding: 15px;
  flex-direction: row;

  border-radius: 20px;
  background: #ffe7f4;
  box-shadow: 7px 7px 14px #e3ced9, -7px -7px 14px #ffffff;
}

.project:hover {
  background-color: #e7cddb;
}

.social-links {
  padding-top: 40px;
  padding-bottom: 40px;
}

.project p {
  font-size: 12px;
  color: #945050;
}

#elainespillsthechai {
  margin: 20px;

  border-radius: 19px;
  background: #74546a;
  box-shadow: -12px -12px 24px #5f4557, 12px 12px 24px #89637d;
}
